section#servicios.bg-info
  .container(data-showup)
    h2.h1 Servicios
    p Dentro de los servicios que ofrecemos para tratar diferentes dolencias se encuentran, como dijimos anteriormente, la fisioterapia y la osteopatía. Sin embargo, también contamos con otros tipos de tratamientos. Nuestros profesionales te recomendarán qué tipo de servicio se adecua más a las necesidades de tu problema. Así, podremos tratarte por medio de las siguientes disciplinas.
    .text-center.mb-3
      .badge.badge-light Pulsa para desplegar información
    .acordion#quiropodologia-sub.border.rounded.overflow-hidden.mb-3
      .card-header#fisioterapia
        h4.mb-0
          button.btn.btn-primary.w-100(type='button' data-toggle='collapse' data-target='#fisioterapia-body' aria-expanded='true' aria-controls='durezas-body') Fisioterapia
      .collapse#fisioterapia-body(aria-labelledby='durezas' data-parent='#quiropodologia-sub')
        .card-body
          p Nuestros fisioterapeutas experimentados podrán ayudarte a recuperarte de las lesiones o de los problemas de movilidad que puedas padecer sin necesidad de recurrir a ningún tipo de fármaco. Si tienes algún tipo de dolor muscular, dolor articular, sobrecargas musculares, contracturas, dolor en la espalda por una mala postura, etc. nuestra clínica de fisioterapia te puede ayudar.
      .card-header#osteopatia
        h4.mb-0
          button.btn.btn-primary.w-100(type='button' data-toggle='collapse' data-target='#osteopatia-body' aria-expanded='true' aria-controls='una-encarnada-body') Osteopatía
      .collapse#osteopatia-body(aria-labelledby='una-encarnada' data-parent='#quiropodologia-sub')
        .card-body
          p Aunque la osteopatía es cada vez más popular en nuestro país, aún no ha alcanzado en España los niveles de reconocimiento con los que cuenta en otros países como Francia o Estados Unidos. Sin embargo, la eficacia de esta medicina la convierte en un tratamiento cada vez más conocido y demandado por nuestros pacientes.
      .card-header#columna-vertebral
        h4.mb-0
          button.btn.btn-primary.w-100(type='button' data-toggle='collapse' data-target='#columna-vertebral-body' aria-expanded='true' aria-controls='ampollas-body') Columna Vertebral
      .collapse#columna-vertebral-body(aria-labelledby='ampollas' data-parent='#quiropodologia-sub')
        .card-body
          p La columna vertebral sostiene nuestro cuerpo y protege la médula espinal. Esta importante estructura es a su vez delicada y una leve lesión o desviación en ella puede dar lugar a fuertes dolores en la espalda. En nuestra clínica de fisioterapia López del Amo estamos especializados en ejercicios y tratamientos para mejorar el estado de la columna vertebral y reducir así los dolores que pudieran presentarse.
      .card-header#terapia-fascial
        h4.mb-0
          button.btn.btn-primary.w-100(type='button' data-toggle='collapse' data-target='#terapia-fascial-body' aria-expanded='true' aria-controls='cuerpo-extrano-body') Terapia Fascial
      .collapse#terapia-fascial-body(aria-labelledby='cuerpo-extrano' data-parent='#quiropodologia-sub')
        .card-body
          p Nuestros órganos y tejidos están envueltos y protegidos por una red de tejido conectivo llamado fascia. Los tejidos que conforman la fascia son elásticos y bastante móviles y, en ocasiones, su desplazamiento o mala posición puede provocar dolor o desórdenes. Por medio de la terapia fascial podemos devolverle su posición natural y remediar así el dolor que estuviera provocando.
      .card-header#terapia-craneo-sacral
        h4.mb-0
          button.btn.btn-primary.w-100(type='button' data-toggle='collapse' data-target='#terapia-craneo-sacral-body' aria-expanded='true' aria-controls='cuerpo-extrano-body') Terapia Cráneo Sacral
      .collapse#terapia-craneo-sacral-body(aria-labelledby='cuerpo-extrano' data-parent='#quiropodologia-sub')
        .card-body
          p Por medio de la terapia cráneo-sacral se pretende recuperar el ritmo o pulso natural con el que se mueven de forma sutil todas las estructuras y tejidos que conforman el sistema cráneo-sacral (desde el cráneo hasta el sacro, de ahí su nombre). Ésta es una terapia suave, apta para todas las edades y con un muy amplio espectro de propiedades beneficiosas. Ven a descubrirla.
      .card-header#tratamiento-manual
        h4.mb-0
          button.btn.btn-primary.w-100(type='button' data-toggle='collapse' data-target='#tratamiento-manual-body' aria-expanded='true' aria-controls='cuerpo-extrano-body') Tratamiento Manual
      .collapse#tratamiento-manual-body(aria-labelledby='cuerpo-extrano' data-parent='#quiropodologia-sub')
        .card-body
          p Del mismo modo en el que un cirujano trabaja con el bisturí, la principal herramienta de nuestros profesionales es la mano. Por medio de las manos se pueden descubrir lesiones, diagnosticar dolencias y tratarlas de forma eficaz.