<div id="cookies-message" class="bg-white p-3 m-2 m-sm-3 shadow rounded text-muted">
	<p class="h6 text-secondary text-uppercase mb-3">
		¿Aceptas Cookies?
		<i class="fas fa-cookie-bite text-primary"></i>
		<!-- <svg class="icon-inline text-primary"><use xlink:href="#icon-cookie"></use></svg> -->
	</p>
	<p class="text-justify">Usamos cookies de terceros, analizando tus hábitos de navegación, para mejorar nuestros servicios y facilitar la navegación. Si continúas navegando, consideramos que aceptas su uso.</p>
	<button type="button" class="btn btn-secondary w-100 mb-3" onclick="location.href='{{ site.baseurl }}/legal#cookies'">✚ Leer más</button>
	<button type="button" id="cookies-message-acept" class="btn btn-primary w-100">✔ OK</button>
</div>