section#contacto.bg-white
  .container
    h2.h1 Contacto
    p ¿Quieres conocer más a fondo nuestros servicios? ¿Quieres saber cuál es el precio de una consulta en nuestra clínica dental? ¿Cuánto vale una ortodoncia en Murcia? ¿O un empaste? Contacta con nosotros y consúltanos todas tus dudas sobre nuestros servicios y precios.
    .text-center
      .mb-3
        .badge.badge-light ¡Pulsa aquí para llamarnos!
      .mb-5
        a.btn.btn-secondary.btn-lg(href='tel:+34968220727' onclick=`gtag('event', 'clic', {'event_category': 'llamar', 'event_label': 'odontologia'});` title='¡Pulsa aquí para llamarnos!')
          i.fa.fa-phone
          |  968 22 07 27
    h2.h4 Clínica Dental en Murcia
    p Todos estos servicios los puedes encontrar en nuestra clínica. La clínica dental López del Amo se encuentra situada en Murcia y en ella trabajan profesionales expertos en los diferentes ámbitos de la odontología. Si tienes algún problema de caries, dolor de muelas, necesitas una ortodoncia, una endodoncia, un implante dental, etc. Disponemos de una clínica dental en Murcia capital y otra en Torreagüera:
    .row
      .col-lg
        a.btn.btn-primary.w-100.mb-3(href='https://www.google.es/maps/place/Cl%C3%ADnica+L%C3%B3pez+del+Amo/@37.989242,-1.131834,15z/data=!4m5!3m4!1s0x0:0x581804dd40f6e77c!8m2!3d37.989242!4d-1.131834' target='_blank' title='Pulsa aquí para ampliar el mapa de la Clínica en Murcia')
          i.fa.fa-map-marker
          |  Calle Jaime I el Conquistador, 11, 2B 30008 Murcia
      .col-lg
        a.btn.btn-primary.w-100.mb-3(href='https://www.google.es/maps/place/Cl%C3%ADnica+L%C3%B3pez+del+Amo/@37.9795,-1.0582157,17z/data=!3m1!4b1!4m5!3m4!1s0x0:0x4f5842c7ffa744fb!8m2!3d37.9795!4d-1.056027' target='_blank' title='Pulsa aquí para ampliar el mapa de la Clínica en Torreagüera')
          i.fa.fa-map-marker
          |  Calle Mayor, 42, 1B 30579 Torreagüera, Murcia
iframe.border-0.mb-n2(data-src='https://www.google.com/maps/d/embed?mid=1ThtEPFTdhJLe_O2qgbGXIXuZALo' width='100%' height='300')