section#servicios.bg-info
  .container
    h2.h1 Servicios
    p Los servicios que ofrecemos en nuestra clínica dental abarcan distintas soluciones y tratamientos contemplados en el ámbito de la odontología general, pero también endodoncia, ortodoncia y servicios de implantología. Veamos más detalladamente cuáles son nuestros servicios.
    .text-center.mb-3
      .badge.badge-light Pulsa para desplegar información
    .acordion#quiropodologia-sub.border.rounded.overflow-hidden.mb-3
      .card-header#general
        h4.mb-0
          button.btn.btn-primary.w-100(type='button' data-toggle='collapse' data-target='#general-body' aria-expanded='true' aria-controls='durezas-body') Odontología General
      .collapse#general-body(aria-labelledby='durezas' data-parent='#quiropodologia-sub')
        .card-body
          p Con nuestro servicio de odontología general tratamos los problemas más comunes por los que los pacientes acuden a nuestra clínica dental. Ya tengas una caries, padezcas de gingivitis o necesites un empaste, nuestros dentistas experimentados te proporcionarán la solución más adecuada y eficaz a tu problema.
      .card-header#endodoncia
        h4.mb-0
          button.btn.btn-primary.w-100(type='button' data-toggle='collapse' data-target='#endodoncia-body' aria-expanded='true' aria-controls='una-encarnada-body') Endodoncia
      .collapse#endodoncia-body(aria-labelledby='una-encarnada' data-parent='#quiropodologia-sub')
        .card-body
          p En ocasiones, nuestros pacientes llegan a nosotros con caries muy profundas, con lesiones en los dientes a causa de golpes o con un desgaste muy pronunciado a causa del rozamiento entre varios dientes. En estos casos, un empaste no suele ser suficiente y es necesario realizar una endodoncia. Por medio de este proceso se elimina la pulpa del diente (que suele ser la parte afectada), se limpia la zona y se sella, solucionando así los problemas de dolor y funcionalidad.
          p No tardes más y ponle solución de una vez por todas a tu dolor de dientes con una endodoncia en nuestra clínica.
      .card-header#ortodoncia
        h4.mb-0
          button.btn.btn-primary.w-100(type='button' data-toggle='collapse' data-target='#ortodoncia-body' aria-expanded='true' aria-controls='ampollas-body') Ortodoncia
      .collapse#ortodoncia-body(aria-labelledby='ampollas' data-parent='#quiropodologia-sub')
        .card-body
          p Tener unos dientes perfectamente alineados es el objetivo de muchos de los pacientes que visitan una clínica dental. Las ortodoncia para corregir la posición de los dientes son uno de los tratamientos más demandados desde hace años y en la clínica López del Amo contamos con una gran experiencia en este campo. Si tienes los dientes torcidos y buscas una ortodoncia actualizada en la que se emplee la última tecnología, no dudes en visitarnos.
      .card-header#implantologia
        h4.mb-0
          button.btn.btn-primary.w-100(type='button' data-toggle='collapse' data-target='#implantologia-body' aria-expanded='true' aria-controls='cuerpo-extrano-body') Implantología
      .collapse#implantologia-body(aria-labelledby='cuerpo-extrano' data-parent='#quiropodologia-sub')
        .card-body
          p Cuando hemos perdido un diente, además del problema estético que esto supone, pueden surgir otras complicaciones. Para ponerle freno a todo tipo de problemas que puedan aparecer en uno de estos casos, en nuestra clínica dental contamos con un servicio de implantología compuesto por grandes especialistas que reemplazarán cualquier pieza dental que se haya perdido.