.
  ---
  layout: compress
  ---
  
doctype html
html(lang="es")
  | {% include head.html %}
  body#top(class='{{ layout }}')
    include includes/nav.pug
    main.pt-xl-5.text-center
      section
        .container
          h1.text-primary Dónde estamos
          .row
            .col-lg-6.pt-5
              h2.mb-3 Murcia
              p
                a.btn.btn-primary(title='Pulsa aquí para ampliar el mapa' href='https://www.google.es/maps/place/Cl%C3%ADnica+L%C3%B3pez+del+Amo/@37.9892418,-1.1340222,17z/data=!3m1!4b1!4m5!3m4!1s0x0:0x581804dd40f6e77c!8m2!3d37.9892418!4d-1.1318335' rel='nofollow' target='_blank')
                  i.fa.fa-map-marker
                  |  Calle Jaime I el Conquistador, 11, 2B 30008 Murcia
              p
                a.btn.btn-secondary.btn-lg(title='¡Pulsa aquí para llamarnos!' href='tel:+34968220727' rel='nofollow' onclick='gtag(\'event\', \'clic\', {\'event_category\': \'llamar\', \'event_label\': \'donde-estamos-murcia\'});')
                  i.fa.fa-phone
                  |  968 22 07 27
              .img-thumbnail.mb-3
                .embed-responsive.embed-responsive-16by9.rounded-sm
                  iframe.embed-responsive-item(width='100%' height='257' data-src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3144.480911004711!2d-1.1340221846761767!3d37.98924177972106!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x581804dd40f6e77c!2sCl%C3%ADnica+L%C3%B3pez+del+Amo!5e0!3m2!1ses!2ses!4v1470324012714' allowfullscreen)
              img.img-fluid.img-thumbnail(data-src='/wp-content/uploads/clinica-lopez-del-amo-exterior-2-2.jpg' alt='clinica-lopez-del-amo-fachada-exterior-murcia' title='Clínica Lopez del Amo Murcia Fachada Exterior' width='658' height='387' data-srcset='/wp-content/uploads/clinica-lopez-del-amo-exterior-2-2.jpg 658w, /wp-content/uploads/clinica-lopez-del-amo-exterior-2-2-300x176.jpg 300w' data-sizes='(max-width: 658px) 100vw, 658px')
            .col-lg-6.pt-5
              h2.mb-3 Torreagüera
              p
                a.btn.btn-primary(title='Pulsa aquí para ampliar el mapa' href='https://www.google.es/maps/place/Cl%C3%ADnica+L%C3%B3pez+del+Amo/@37.9795,-1.0582157,17z/data=!3m1!4b1!4m5!3m4!1s0x0:0x4f5842c7ffa744fb!8m2!3d37.9795!4d-1.056027' rel='nofollow' target='_blank')
                  i.fa.fa-map-marker
                  |  Calle Mayor, 42, 1B 30579 Torreagüera, Murcia
              p
                a.btn.btn-secondary.btn-lg(title='¡Pulsa aquí para llamarnos!' href='tel:+34968821958' rel='nofollow' onclick='gtag(\'event\', \'clic\', {\'event_category\': \'llamar\', \'event_label\': \'donde-estamos-torreaguera\'});')
                  i.fa.fa-phone
                  |  968 82 19 58
              .img-thumbnail.mb-3
                .embed-responsive.embed-responsive-16by9.rounded-sm
                  iframe.embed-responsive-item(width='100%' height='257' data-src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3144.480911004711!2d-1.1340221846761767!3d37.98924177972106!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x581804dd40f6e77c!2sCl%C3%ADnica+L%C3%B3pez+del+Amo!5e0!3m2!1ses!2ses!4v1470324012714' allowfullscreen)
              img.img-fluid.img-thumbnail(data-src='/wp-content/uploads/clinica-lopez-del-amo-exterior-3.jpg' alt='clinica-lopez-del-amo-fachada-exterior-torreaguera' title='Clínica Lopez del Amo Torreagüera Fachada Exterior' width='734' height='432' data-srcset='/wp-content/uploads/clinica-lopez-del-amo-exterior-3.jpg 734w, /wp-content/uploads/clinica-lopez-del-amo-exterior-3-300x177.jpg 300w' data-sizes='(max-width: 734px) 100vw, 734px')
      iframe.border-0.mb-n2(data-src='https://www.google.com/maps/d/embed?mid=1k3zXykDOsNavvbvUMRYTzN98jYo' width='100%' height='300')
  .
    {% include footer.html %}
    {% include btn-callnow.html %}
  .d-md-none.pb-4.bg-primary
  script(type='application/ld+json')
    include includes/schema.json