.
  ---
  layout: compress
  ---
  
doctype html
html(lang="es")
  | {% include head.html %}
  body#top(class='{{ layout }}')
    include includes/nav.pug
    main#equipo.pt-xl-5.text-muted
      section
        .container
          h1.text-center Quiénes somos
          img.img-fluid.img-thumbnail.d-block.mx-auto(src='/wp-content/uploads/equipo-clinica-lopez-del-amo.jpg' alt='equipo-clinica-lopez-del-amo' title='Equipo Clínica López del Amo' width='1024' height='682' srcset='/wp-content/uploads/equipo-clinica-lopez-del-amo.jpg 1024w, /wp-content/uploads/equipo-clinica-lopez-del-amo-300x200.jpg 300w, /wp-content/uploads/equipo-clinica-lopez-del-amo-768x512.jpg 768w' sizes='(max-width: 1024px) 100vw, 1024px')
      section
        .container
          h2 Dr. D. Andrés López del Amo Lorente
          h3.text-primary
            | Nº de colegiado Podología: 153
            br
            | Nº de colegiado Fisioterapia: 1553
          .row
            .col-lg-6.pt-3
              img.img-fluid.img-thumbnail.d-block.mx-auto(data-src='/wp-content/uploads/dr-d-andres-lopez-del-amo-lorente.jpg' alt='dr-d-andres-lopez-del-amo-lorente' title='Dr. D. Andrés López del Amo Lorente' width='640' height='427' data-srcset='/wp-content/uploads/dr-d-andres-lopez-del-amo-lorente.jpg 640w, /wp-content/uploads/dr-d-andres-lopez-del-amo-lorente-300x200.jpg 300w' data-sizes='(max-width: 640px) 100vw, 640px')
            .col-lg-6.pt-3
              include includes/podologia/skills-andres.pug
      section
        .container
          h2 Dña. Blanca López del Amo Lorente
          h3.text-primary Nº de colegiado 1208
          .row
            .col-lg-6.pt-3
              img.img-fluid.img-thumbnail.d-block.mx-auto(data-src='/wp-content/uploads/dna-blanca-lopez-del-amo-lorente.jpg' alt='dña-blanca-lopez-del-amo-lorente' title='Dña. Blanca López del Amo Lorente' width='640' height='427' data-srcset='/wp-content/uploads/dna-blanca-lopez-del-amo-lorente.jpg 640w, /wp-content/uploads/dna-blanca-lopez-del-amo-lorente-300x200.jpg 300w' data-sizes='(max-width: 640px) 100vw, 640px')
            .col-lg-6.pt-3
              ul.list-group
                li.list-group-item
                  i.fa.fa-fw.text-secondary.mr-1.fa-check
                  |  Licenciada en Odontología por la Universidad de Murcia y Odontología general.
                li.list-group-item
                  i.fa.fa-fw.text-secondary.mr-1.fa-check
                  |  Máster en oclusión y prostodoncia (ESORIB).
                li.list-group-item
                  i.fa.fa-fw.text-secondary.mr-1.fa-check
                  |  Curso superior universitario en implantoprótesis.
                li.list-group-item
                  i.fa.fa-fw.text-secondary.mr-1.fa-check
                  |  Curso de Endodoncia Clínica: de la teoría a la práctica.
                li.list-group-item
                  i.fa.fa-fw.text-secondary.mr-1.fa-check
                  |  Acreditación como Directora de Instalaciones de Rayos X.
                li.list-group-item
                  i.fa.fa-fw.text-secondary.mr-1.fa-check
                  |  Miembro Activo de SCOI (Sociedad Científica de Odontología Implantológica).
                li.list-group-item
                  i.fa.fa-fw.text-secondary.mr-1.fa-check
                  |  Miembro Activo de ICOI (International Congress of Oral Implantologists).
      section
        .container
          h2 Dña. Ana Martín Pardo
          h3.text-primary Nº de colegiado 740
          .row
            .col-lg-6.pt-3
              img.img-fluid.img-thumbnail.d-block.mx-auto(data-src='/wp-content/uploads/dna-ana-martin-pardo.jpg' alt='dña-ana-martin-pardo' title='Dña. Ana Martín Pardo' width='640' height='427' data-srcset='/wp-content/uploads/dna-ana-martin-pardo.jpg 640w, /wp-content/uploads/dna-ana-martin-pardo-300x200.jpg 300w' data-sizes='(max-width: 640px) 100vw, 640px')
            .col-lg-6.pt-3
              ul.list-group
                li.list-group-item
                  i.fa.fa-fw.text-secondary.mr-1.fa-check
                  |  Licenciada en Odontología por la Universidad de Murcia y Especialista en Endodoncia.
                li.list-group-item
                  i.fa.fa-fw.text-secondary.mr-1.fa-check
                  |  Actualización en el Manejo Odontoestomatológico de los Pacientes Especiales.
                li.list-group-item
                  i.fa.fa-fw.text-secondary.mr-1.fa-check
                  |  Actualización en Tratamiento de Endodoncia y Resolviendo Problemas.
                li.list-group-item
                  i.fa.fa-fw.text-secondary.mr-1.fa-check
                  |  Curso Clínico de Especialización en Endodoncia.
                li.list-group-item
                  i.fa.fa-fw.text-secondary.mr-1.fa-check
                  |  Actualización en Operatoria, Estética y Endodoncia.
                li.list-group-item
                  i.fa.fa-fw.text-secondary.mr-1.fa-check
                  |  Curso en Aportaciones Clínicas para una Endodoncia Exitosa
                li.list-group-item
                  i.fa.fa-fw.text-secondary.mr-1.fa-check
                  |  Curso de Osteonecrosis por Bifosfonatos.
                li.list-group-item
                  i.fa.fa-fw.text-secondary.mr-1.fa-check
                  |  Curso Teórico-Práctico de Formación Continuada en Endodoncia.
                li.list-group-item
                  i.fa.fa-fw.text-secondary.mr-1.fa-check
                  |  Curso: Una Endodoncia Simple para Casos Complejos, Instrumentación y Obturación de Casos de Extrema Dificul.list-grouptad.
      section
        .container
          h2 Dña. Alicia Rodríguez Martínez
          h3.text-primary Nº de colegiado 1101
          .row
            .col-lg-6.pt-3
              img.img-fluid.img-thumbnail.d-block.mx-auto(data-src='/wp-content/uploads/dna-alicia-rodriguez-martinez.jpg' alt='dña-alicia-rodriguez-martinez' title='Dña. Alicia Rodríguez Martínez' width='640' height='427' data-srcset='/wp-content/uploads/dna-alicia-rodriguez-martinez.jpg 640w, /wp-content/uploads/dna-alicia-rodriguez-martinez-300x200.jpg 300w' data-sizes='(max-width: 640px) 100vw, 640px')
            .col-lg-6.pt-3
              ul.list-group
                li.list-group-item
                  i.fa.fa-fw.text-secondary.mr-1.fa-check
                  |  Licenciada en Odontología por la Universidad de Murcia y Especialista en Ortodoncia.
                li.list-group-item
                  i.fa.fa-fw.text-secondary.mr-1.fa-check
                  |  Máster en Envejecimiento por la Universidad de Murcia.
                li.list-group-item
                  i.fa.fa-fw.text-secondary.mr-1.fa-check
                  |  Máster de Ortodoncia y Ortopedia Dentofacial por la Universidad de Murcia.
                li.list-group-item
                  i.fa.fa-fw.text-secondary.mr-1.fa-check
                  |  Miembro de la Sociedad Española De Ortodoncia (SEDO).
                li.list-group-item
                  i.fa.fa-fw.text-secondary.mr-1.fa-check
                  |  Miembro de la Asociación Española de Especialistas en Ortodoncia (AESOR).
                li.list-group-item
                  i.fa.fa-fw.text-secondary.mr-1.fa-check
                  |  Miembro de la Sociedad Europea de Ortodoncia (EOS).
                li.list-group-item
                  i.fa.fa-fw.text-secondary.mr-1.fa-check
                  |  Profesora en el Máster de Ortodoncia y Ortopedia Dentofacial de la Universidad de Murcia.
      section
        .container
          h2 Dña. Olga Guerrero Faura
          .row
            .col-lg-6.pt-3
              img.img-fluid.img-thumbnail.d-block.mx-auto(data-src='/wp-content/uploads/dna-olga-guerrero-faura.jpg' alt='dña-olga-guerrero-faura' title='Dña. Olga Guerrero Faura' width='640' height='427' data-srcset='/wp-content/uploads/dna-olga-guerrero-faura.jpg 640w, /wp-content/uploads/dna-olga-guerrero-faura-300x200.jpg 300w' data-sizes='(max-width: 640px) 100vw, 640px')
            .col-lg-6.pt-3
              ul.list-group
                li.list-group-item
                  i.fa.fa-fw.text-secondary.mr-1.fa-check
                  |  Higienista bucal
                li.list-group-item
                  i.fa.fa-fw.text-secondary.mr-1.fa-check
                  |  Auxiliar de clínica
  .
    {% include footer.html %}
    {% include btn-callnow.html %}
  .d-md-none.pb-4.bg-primary
  script(type='application/ld+json')
    include includes/schema.json