section#servicios.pt-5.pb-0
  .container
    h2.h1.mb-4(data-showup) Servicios
    .row
      .col-4(onclick='location.href="pie-podologo-murcia"' data-showup)
        a.btn.btn-primary.btn-icon(href='pie-podologo-murcia')
          i.fa.fa-2x.fa-shoe-prints
        h3.h5.mt-2.text-break.text-primary Podología
      .col-4(onclick='location.href="dental-odontologia"-murcia' data-showup)
        a.btn.btn-primary.btn-icon(href='dental-odontologia-murcia')
          i.fa.fa-2x.fa-tooth
        h3.h5.mt-2.text-break.text-primary Odontología
      .col-4(onclick='location.href="fisioterapia-osteopatia"-murcia' data-showup)
        a.btn.btn-primary.btn-icon(href='fisioterapia-osteopatia-murcia')
          i.fa.fa-2x.fa-hands
        h3.h5.mt-2.text-break.text-primary Fisioterapia
section#nosotros.py-5
  .container
    h2.h1.mb-4(data-showup) Nosotros
    .row
      .col-4(onclick='location.href="quienes-somos"' data-showup)
        a.btn.btn-primary.btn-icon(href='quienes-somos')
          i.fa.fa-2x.fa-user-md
        h3.h5.mt-2.text-break.text-primary Quiénes somos
      .col-4(onclick='location.href="donde-estamos"' data-showup)
        a.btn.btn-primary.btn-icon(href='donde-estamos')
          i.fa.fa-2x.fa-map-marker-alt
        h3.h5.mt-2.text-break.text-primary Dónde estamos
      .col-4(onclick='location.href="mas-podologia"' data-showup)
        a.btn.btn-primary.btn-icon(href='mas-podologia')
          i.fa.fa-2x.fa-comment
        h3.h5.mt-2.text-break.text-primary Blog