body {
  background: #f4f4f4;
}
a {
  color: darken($primary,$percentage-darken-primary);
}
img {
  max-width:100%;
  height:auto;
}
.bigradius {
  border-radius: 40px;
}
.btn {
  min-width: 180px;
}
blockquote {
  font-family: Times New Roman;
  font-style: italic;
  font-size: 20px;
  position:relative;
  border-left:1px solid $dark;
  margin-left:30px;
  padding-left:15px;
  cite {
      font-weight:700;
  }
}
// animation
.nav-icon, 
.hamburger-bar, 
.hamburger-bar:before, 
.hamburger-bar:after, 
#menu, 
body, 
a, 
a:hover, 
body.active, 
.site-content, 
.show-search, .show-search:hover, 
.title, .title:hover,
.card, .card:hover,
img, img:hover {
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
@keyframes fade-down {
0% {
  opacity: 0;
  transform: translateY(-100%);
}
100% {
  opacity: 1;
  transform: translateY(0%);
}
}
@keyframes fade-up {
0% {
  opacity: 0;
  transform: translateY(20%);
}
100% {
  opacity: 1;
  transform: translateY(0%);
}
}
.featured-image,
.firstpage .blog-grid-item:nth-child(1),
.firstpage .blog-grid-item:nth-child(2),
.firstpage .blog-grid-item:nth-child(3) {
  animation: fade-up 0.7s ease-out forwards running;
}
// menu
.navbar-toggler,
.nav-icon {
  position: fixed;
  right: 0;
  top: 0;
  min-width: auto;
  width: 3rem;
  height: 3rem !important;
  border-color: transparent;
  outline: none;
  cursor: pointer;
  z-index: 1026;
  .hamburger-bar,
  .hamburger-bar:before,
  .hamburger-bar:after {
    content: '';
    position: absolute;
    width: 1.5rem;
    height: .25rem;
    border-radius: 1px;
    background: $white;
  }
  .hamburger-bar {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    &:before {
      transform: rotate(0deg) translate(-50%,-7px);
    }
    &:after {
      transform: rotate(0deg) translate(-50%,7px);
    }
  }
  &.active {
    .hamburger-bar {
      background: transparent;
      &:before {
        transform: rotate(-45deg) translate(-.53125rem, -.53125rem);
      }
      &:after {
        transform: rotate(45deg) translate(-.53125rem, .53125rem);
      }
    }
  }
}
.blackover {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba($primary, 1);
  z-index: 4;
  opacity: 0;
  transform: scale(0);
  transition: all .3s, transform 0s .4s, opacity .3s;
  &.active {
    background: rgba($primary, .5);
    opacity: 1;
    transform: scale(1);
    transition: all .3s, transform 0s, opacity .3s;
  }
}

#menu {
  position: fixed;
  top: 0;
  right: 0;
  overflow-y: auto;
  height: 100%;
  min-width: 320px;
  max-width: 100%;
  transform: translateX(100%);
  z-index: 1022;
  font-size: 18px;
  &.active {
      transform: translateX(0%);
  }
}


// blog grid
.blog-grid-container {
  width: auto;
  margin: 50px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 30px;
}
.blog-grid-item {  
  color: #333;
  padding: 0;
  display: flex;
  align-items:center;
  .card {
      border:0;
      &:hover {           
         .card-title a { 
              background-size: 100% 100%;
          }
      }
  }
  .card-title {
      font-size:22px;
      a { 
          background-image: linear-gradient(180deg, transparent 89%, $primary 0);
          background-repeat: no-repeat;
          background-size: 0 100%;
          transition: background-size .6s ease;
          position:relative;
          &:hover {
              text-decoration:none;
          }
      }
  }
  .card-footer {
      font-size:14px;
  }
  .img-thumb {
      height:240px;
      width:100%;
      object-fit:cover;
      object-position:center;
  }
}
.firstpage {
  .blog-grid-item:nth-child(1) {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 3;
      flex-direction: column;  
      align-items: flex-start;
      font-size: 1em;
      padding:0;
      .card-title {
          font-size:28px;
      }
      .img-thumb {
          object-fit:cover;
          height:400px;
          width:100%;
          object-position:center;
      }
  }

  .blog-grid-item:nth-child(2), .blog-grid-item:nth-child(3) {
      .card-text {
          display:none;
      }
      .img-thumb {
          object-fit:cover;
          height:160px;
          width:100%;
          object-position:center;
      }
      .card-title {
          font-size:18px;
          line-height:1.5;
      }      
  }
}

// pagination
.pagination {
  justify-content:center;
  a:not(.btn) {
      background: rgba(0,0,0,0.05);
      color:#000;
      cursor:pointer;
      &:hover {
          background: $primary;
          text-decoration:none;
          color:#fff !important;
      }
  }
  a, span  {
      width: 40px;
      height: 40px;
      display: inline-block;
      border-radius: 50%;
      text-align: center;
      line-height: 40px;
  }
  span {
      border:0;
  }
}

// newsletter
.newsletter {
  h4 {
      line-height:1.3;
  }
  margin-top:120px;   
  img.newsletter-logo {
      max-height:70px;
  } 
  input {
      border:1px solid transparent;
  }
  .mc-field-group {
      border:1px solid;
      border-radius:2px;
      display:inline-block;
      input[type="email"] {
          padding:4px 10px;
          min-width:250px;
      }
      input[type="submit"] {    
          color: #222;
          padding: 4px 20px;
          margin-left:-5px;
          background: $primary;
          border-left: 1px solid;
          font-weight:700;
      }
  }
  form {
      margin-top:30px;
  }
}

// blog 
.layout-post .sitetag, .layout-page .sitetag, .entry-header, .article-post, .author-box , .comments {
  max-width: 740px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
.entry-featured-image {  
  width:700px;  
  max-width: 100%;
  text-align:center;
  margin-left:auto;
  margin-right: auto;
  margin-top:50px;
  margin-bottom:50px;
}
.image-shadow {   
  -webkit-box-shadow: 0 7px 50px 0 rgba(84,110,122,.15);
  -moz-box-shadow: 0 7px 50px 0 rgba(84,110,122,.15);
  box-shadow: 0 7px 50px 0 rgba(84,110,122,.15);
}
.entry-header {
  .author-thumb {
      max-width:50px;
      border-radius:50%;
      border:2px solid darken($primary,$percentage-darken-primary);
      padding:2px;
  }
}
.author-box {
  margin-top:50px;
  margin-bottom:50px;
  .author-description {
      font-size:16px;
  }
  .author-thumb {
      width:85px;
      height: 85px;
      object-fit: cover;
      border-radius:50%;
      border:2px solid darken($primary,$percentage-darken-primary);
      padding:2px;
  }
}
.article-post {    
  font-size:18px;
  p {
      margin:1em 0;
  }
  code {
      font-size: 15px;
      @extend .badge, .badge-secondary, .d-inline, .font-weight-normal;
      white-space: normal;
      padding-left: .5em;
      padding-right: .5em;
  }
  code[class*="language-"], pre[class*="language-"] {
      font-size:15px;
  }
  div.code-toolbar > .toolbar a, div.code-toolbar > .toolbar button, div.code-toolbar > .toolbar span {
      margin-right:2px;
      margin-left:2px;
      box-shadow: 0 1px 0 0 rgba(0,0,0,0.1);
  }
}

.c-rating button {
  cursor:none;
}

.comments {
  margin-top:30px;
  margin-bottom:60px;
  #comments {
      display:none;
      margin-top:60px;
      &.comments--show {
          display:block;
      }
  }
}

.share .btn {
  min-width: auto;
  min-height: 3em;
  line-height: 100% !important;
}

// footer
.footer {
  font-size:15px;
}

// responsive tweaks
@media (max-width: 1024px) {
  .blog-grid-container {
      grid-template-columns: 1fr 1fr;
  }
  .layout-index {
    .blog-grid-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
  }
  .newsletter img.newsletter-logo {
      max-height: 50px;
      float: left;
  }
}
@media (max-width: 768px) {
  #top .blog-grid-container {
      grid-template-columns: 1fr;
  }
  .firstpage .blog-grid-item:nth-child(1) {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 2;
  }
  .blog-grid-item .img-thumb, 
  .firstpage .blog-grid-item:nth-child(1) .img-thumb, 
  .firstpage .blog-grid-item:nth-child(2) .img-thumb, 
  .firstpage .blog-grid-item:nth-child(3) .img-thumb {
      height:auto;
  }
  .newsletter {
      span.h4 {
          font-size: 20px;
      }
      .mc-field-group input[type="email"] {
          padding: 4px 10px;
          min-width: 200px;
      }
      .mc-field-group input[type="submit"] {
          padding: 4px 10px;
      }
  }
}

@media (max-width: 480px) {
  .newsletter {
      .mc-field-group input[type="email"] {
          min-width:170px;
          width: 170px;
      }
  }
  .layout-post .sitetag, .layout-page .sitetag, .entry-header, .article-post, .author-box , .comments { 
      padding-left:0;
      padding-right:0;
  }
  blockquote {
      margin-left:15px;
      font-size:18px;
  }
  .article-post {
      font-size:16px;
  }
}