section#blog.bg-primary
  .container
    div(data-showup)
      h2.h1.text-secondary.text-uppercase Blog
      p.lead.text-white Artículos recientes
    div(data-showup)
      |  {{ content }}
    .mt-5(data-showup)
      a.btn.btn-secondary.btn-lg(href='{{ site.baseurl }}/mas-podologia/') ✚ Más