nav#servicios-nav.navbar.navbar-expand-xl.navbar-dark.bg-primary.fixed-top
  .container.p-0
    button.navbar-toggler.m-2.m-sm-3.btn.bg-secondary.rounded-circle(type='button' data-toggle='collapse' data-target='#navbar-menu' aria-controls='navbar-menu' aria-expanded='false' aria-label='Toggle navigation')
      .hamburger-bar
    #navbar-menu.navbar-collapse.collapse
      ul#servicios-navbar.navbar-nav.text-uppercase.d-table.mx-auto.d-xl-flex.justify-content-between.w-xl-100
        li.nav-item.mx-auto
          a.nav-link(href='/pie-podologo-murcia')
            i.fa.fa-fw.text-secondary.mr-1.fa-shoe-prints
            |  Podología
        li.nav-item.mx-auto
          a.nav-link(href='/dental-odontologia-murcia')
            i.fa.fa-fw.text-secondary.mr-1.fa-tooth
            |  Odontología
        li.nav-item.mx-auto
          a.nav-link(href='/fisioterapia-osteopatia-murcia')
            i.fa.fa-fw.text-secondary.mr-1.fa-hands
            |  Fisioterapia
        li.nav-item.mx-auto
          a.nav-link(href='/quienes-somos')
            i.fa.fa-fw.text-secondary.mr-1.fa-user-md
            |  Quiénes somos
        li.nav-item.mx-auto.mb-2.mb-xl-0
          a.nav-link(href='/donde-estamos')
            i.fa.fa-fw.text-secondary.mr-1.fa-map-marker-alt
            |  Dónde estamos
        li.nav-item.mx-auto
          a.nav-link(href='/mas-podologia')
            i.fa.fa-fw.text-secondary.mr-1.fa-comment
            |  Blog