section#contacto.bg-white
  .container(data-showup)
    h2.h1 Contacto
    p No dudes en contactar con nosotros para conocer el precio de nuestros servicios podológicos, el precio de un tratamiento, o simplemente el precio de una consulta con nuestros podólogos.
    p
      | Ponte en contacto con nuestra clínica López del Amo y 
      strong empieza con buen pie
      |  tus tratamientos podológicos.
    .text-center
      .mb-3
        .badge.badge-light ¡Pulsa aquí para llamarnos!
      .mb-5
        a.btn.btn-secondary.btn-lg(href='tel:+34968220727' onclick=`gtag('event', 'clic', {'event_category': 'llamar', 'event_label': 'podologia'});` title='¡Pulsa aquí para llamarnos!')
          i.fa.fa-phone
          |  968 22 07 27
    h2.h4 Clínica del pie en Murcia
    p
      | Todos estos servicios son los que ofrecemos en nuestra clínica del pie situada en Murcia. Si estás buscando en general 
      strong podólogos en Murcia capital
      |  o concretamente un podólogo deportivo en Murcia, la clínica podológica López del Amo es tu solución. Disponemos de una clínica en Murcia Capital y otra en Torreagüera:
    .row
      .col-lg
        a.btn.btn-primary.w-100.mb-3(href='https://www.google.es/maps/place/Cl%C3%ADnica+L%C3%B3pez+del+Amo/@37.989242,-1.131834,15z/data=!4m5!3m4!1s0x0:0x581804dd40f6e77c!8m2!3d37.989242!4d-1.131834' target='_blank' title='Pulsa aquí para ampliar el mapa de la Clínica en Murcia')
          i.fa.fa-map-marker
          |  Calle Jaime I el Conquistador, 11, 2B 30008 Murcia
      .col-lg
        a.btn.btn-primary.w-100.mb-3(href='https://www.google.es/maps/place/Cl%C3%ADnica+L%C3%B3pez+del+Amo/@37.9795,-1.0582157,17z/data=!3m1!4b1!4m5!3m4!1s0x0:0x4f5842c7ffa744fb!8m2!3d37.9795!4d-1.056027' target='_blank' title='Pulsa aquí para ampliar el mapa de la Clínica en Torreagüera')
          i.fa.fa-map-marker
          |  Calle Mayor, 42, 1B 30579 Torreagüera, Murcia
iframe.border-0.mb-n2(data-src='https://www.google.com/maps/d/embed?mid=1w8Zncd0c0vo0TmU9pHf-Fa3vvCc' width='100%' height='300')