section#especialista.bg-white
  .container
    .row
      .col-12
        h2
          | Podólogo Especialista: 
          span.d-block.text-primary Dr. D. Andrés López del Amo Lorente
        h3.text-muted Nº de colegiado Podología: 173
      .col-lg-6.pt-3
        img.img-fluid.img-thumbnail(data-src='/wp-content/uploads/podologo-dr-d-andres-lopez-del-amo-lorente-compressor-1024x683.jpg' title='Dr. D. Andrés López del Amo Lorente' alt='podologo-dr-d-andres-lopez-del-amo-lorente' width='648' height='432' data-srcset='/wp-content/uploads/podologo-dr-d-andres-lopez-del-amo-lorente-compressor-1024x683.jpg 1024w, /wp-content/uploads/podologo-dr-d-andres-lopez-del-amo-lorente-compressor.jpg 5495w, /wp-content/uploads/podologo-dr-d-andres-lopez-del-amo-lorente-compressor-300x200.jpg 300w, /wp-content/uploads/podologo-dr-d-andres-lopez-del-amo-lorente-compressor-768x512.jpg 768w')
      .col-lg-6.pt-3
        include skills-andres.pug