section#funciones.bg-white
  .container
    h2.h1 Podólogo
    .badge.badge-info Pulsa para desplegar información
    //- .panel-group#podologo-acordeon(role='tablist' aria-multiselectable='true')
    //-   .panel.panel-default
    //-     .panel-heading#que-hace-podologo-heading(role='tab')
    //-       h3.panel-title
    //-         a(role='button' data-toggle='collapse' data-parent='#podologo-acordeon' href='#que-hace-podologo-body' aria-expanded='false' aria-controls='que-hace-podologo') ✚ ¿Qué puede hacer un podólogo por ti?
    //-     #que-hace-podologo-body.panel-collapse.collapse(role='tabpanel' aria-labelledby='que-hace-podologo-heading')
    //-       .panel-body
    //-         p El podólogo es el profesional sanitario universitario con los conocimientos, habilidades y aptitudes para realizar las actividades dirigidas a la prevención, al diagnóstico y tratamiento de las afecciones y deformidades de los pies, mediante procedimientos terapéuticos podológicos.
    //-         p Los podólogos, en su clínica del pie, poseen la capacidad, habilidad y destreza necesarias para diagnosticar, realizar y/o elaborar y evaluar cualquier tipo de tratamiento podológico, ortopodológico, quiropodológico, cirugía podológica, físico, farmacológico, preventivo y/o educativo, basado en la historia clínica de nuestros pacientes.
    //-         p La Podología es la rama de las ciencias de la salud que se encarga del estudio, diagnóstico y tratamiento de las patologías, enfermedades y alteraciones que afectan al pie. Su campo profesional se circunscribe a diagnosticar, prescribir, administrar y aplicar tratamientos farmacológicos, ortopodológicos, físicos y quirúrgicos en las enfermedades y deformidades de los pies. En nuestro país y según el artículo 7.2.d) de la Ley 44/2003, de 21 de noviembre de Ordenación de las Profesiones Sanitarias se define al profesional de podología como autónomo en la realización de las actividades dirigidas al diagnóstico y tratamiento de las enfermedades y deformidades de los pies mediante las técnicas terapéuticas propias de su disciplina. Por otro lado, de acuerdo con el artículo 6.2.a) de la Ley 55/2003, de 16 de diciembre del Estatuto Marco del personal estatutario de los servicios de salud, se clasifica al podólogo/a como personal universitario y en la actualidad con los planes de estudio de Título de Grado.
    //-   .panel.panel-default
    //-     .panel-heading#funciones-heading(role='tab')
    //-       h3.panel-title
    //-         a(role='button' data-toggle='collapse' data-parent='#podologo-acordeon' href='#funciones-body' aria-expanded='false' aria-controls='funciones') Funciones del podólogo
    //-     #funciones-body.panel-collapse.collapse(role='tabpanel' aria-labelledby='funciones-heading')
    //-       .panel-body
    //-         p El podólogo/a es un profesional de la salud que tras una formación universitaria está capacitado para tratar todas y cada una de las afecciones del pie. Acuda al podólogo ante cualquier dolencia de sus pies.
    .my-2
      a.btn.btn-primary.my-1.mr-0.mr-md-2(data-toggle='modal' href='#que-puede-hacer') ✚ ¿Qué puede hacer un podólogo?
      a.btn.btn-primary.my-1.ml-0(data-toggle='modal' href='#funciones-podologo') ✚ Funciones del podólogo
    .modal.fade#que-puede-hacer(tabindex='-1' role='dialog' aria-hidden='true')
      .modal-dialog
        .modal-content
          .modal-body
            button.close(type='button' data-dismiss='modal' aria-label='Cerrar') ✖
            h3.h2.mr-5 ¿Qué puede hacer un podólogo por ti?
            p El podólogo es el profesional sanitario universitario con los conocimientos, habilidades y aptitudes para realizar las actividades dirigidas a la prevención, al diagnóstico y tratamiento de las afecciones y deformidades de los pies, mediante procedimientos terapéuticos podológicos.
            p Los podólogos, en su clínica del pie, poseen la capacidad, habilidad y destreza necesarias para diagnosticar, realizar y/o elaborar y evaluar cualquier tipo de tratamiento podológico, ortopodológico, quiropodológico, cirugía podológica, físico, farmacológico, preventivo y/o educativo, basado en la historia clínica de nuestros pacientes.
            p La Podología es la rama de las ciencias de la salud que se encarga del estudio, diagnóstico y tratamiento de las patologías, enfermedades y alteraciones que afectan al pie. Su campo profesional se circunscribe a diagnosticar, prescribir, administrar y aplicar tratamientos farmacológicos, ortopodológicos, físicos y quirúrgicos en las enfermedades y deformidades de los pies. En nuestro país y según el artículo 7.2.d) de la Ley 44/2003, de 21 de noviembre de Ordenación de las Profesiones Sanitarias se define al profesional de podología como autónomo en la realización de las actividades dirigidas al diagnóstico y tratamiento de las enfermedades y deformidades de los pies mediante las técnicas terapéuticas propias de su disciplina. Por otro lado, de acuerdo con el artículo 6.2.a) de la Ley 55/2003, de 16 de diciembre del Estatuto Marco del personal estatutario de los servicios de salud, se clasifica al podólogo/a como personal universitario y en la actualidad con los planes de estudio de Título de Grado.
            p.m-0.text-right
              button.btn.btn-secondary(data-dismiss='modal' type='button') ✖ Cerrar
    .modal.fade#funciones-podologo(tabindex='-1' role='dialog' aria-hidden='true')
      .modal-dialog
        .modal-content
          .modal-body
            button.close(type='button' data-dismiss='modal' aria-label='Cerrar') ✖
            h3.h2.mr-5 Funciones del podólogo
            p El podólogo/a es un profesional de la salud que tras una formación universitaria está capacitado para tratar todas y cada una de las afecciones del pie. Acuda al podólogo ante cualquier dolencia de sus pies.
            p.m-0.text-right
              button.btn.btn-secondary(data-dismiss='modal' type='button') ✖ Cerrar
    p
      | Los pies son la base de nuestro cuerpo. En ellos nos apoyamos, los usamos para caminar, para correr, para estar de pie, para conducir, para prácticamente cualquier actividad física. Cuando tenemos algún problema en los pies, muchas acciones cotidianas pueden verse afectadas. Por este motivo es muy importante cuidar la salud de nuestros pies. Si debido a esto estás buscando un 
      strong podólogo en Murcia
      | , a continuación te detallamos los servicios que puedes encontrar en nuestra clínica del pie López del Amo: