nav#servicios-nav.navbar.navbar-expand-xl.navbar-dark.bg-primary.fixed-top
  .container.p-0
    button.navbar-toggler.m-2.m-sm-3.btn.bg-secondary.rounded-circle(type='button' data-toggle='collapse' data-target='#navbar-menu' aria-controls='navbar-menu' aria-expanded='false' aria-label='Toggle navigation')
      .hamburger-bar
    #navbar-menu.navbar-collapse.collapse
      ul#servicios-navbar.navbar-nav.text-uppercase.d-table.mx-auto.d-xl-flex.justify-content-between.w-xl-100
        li.nav-item.mx-auto
          a.nav-link(href='/')
            i.fa.fa-fw.text-secondary.mr-1.fa-home
            |  Clínica
        li.nav-item.mx-auto
          a.nav-link(href='#funciones')
            i.fa.fa-fw.text-secondary.mr-1.fa-heart
            |  Funciones
        li.nav-item.mx-auto
          a.nav-link(href='#servicios')
            i.fa.fa-fw.text-secondary.mr-1.fa-shoe-prints
            |  Servicios
        li.nav-item.mx-auto
          a.nav-link(href='#especialista')
            i.fa.fa-fw.text-secondary.mr-1.fa-user-md
            |  Especialista
        li.nav-item.mx-auto
          a.nav-link(href='#resenas')
            i.fa.fa-fw.text-secondary.mr-1.fa-comments
            |  Reseñas
        li.nav-item.mx-auto
          a.nav-link(href='#covid')
            i.fa.fa-fw.text-secondary.mr-1.fa-virus
            |  COVID
        li.nav-item.mx-auto.mb-2.mb-xl-0
          a.nav-link.btn.btn-secondary.px-3(href='#contacto')
            i.fa.fa-fw.text-primary.mr-1.fa-paper-plane
            |  Contacto
        li.nav-item.mx-auto
          a.nav-link.btn.btn-light.text-primary.px-3(href='/mas-podologia')
            i.fa.fa-fw.text-secondary.mr-1.fa-pen
            |  Blog