section#resenas.bg-info
  .container
    h2.h1(data-showup) Reseñas
    p.mb-4(data-showup) Algunas de las reseñas con la opinión de algunos clientes sobre nuestros servicios y el trato que les hemos proporcionado:
    .row
      blockquote.col-md.border-0.ml-0.d-flex.flex-column(data-showup)
        .bg-white.rounded.py-2.pl-2.pr-3.border-left.border-primary.h-100.d-flex
          //- span.h1.text-primary “
          i.fa.fa-quote-left.text-primary.mr-2
          | ¡Me siento como en casa! Por su profesionalidad y trabajo bien hecho... Recomiendo a mis amigos y conocidos... Servicio y calidad, en Murcia es la mejor.
          .p-1.mb-auto
        .blockquote-footer.text-right.text-primary.mt-2
          cite Modesta Valero
      blockquote.col-md.border-0.ml-0.d-flex.flex-column(data-showup)
        .bg-white.rounded.py-2.pl-2.pr-3.border-left.border-primary.h-100.d-flex
          //- span.h1.text-primary “
          i.fa.fa-quote-left.text-primary.mr-2
          | Un gran profesional y mejor persona. Muy preparado con toda la formación que ya quisieran los mejores profesores y podologos de España.
          .p-1.mb-auto
        .blockquote-footer.text-right.text-primary.mt-2
          cite Paco Rivera García
      blockquote.col-md.border-0.ml-0.d-flex.flex-column(data-showup)
        .bg-white.rounded.py-2.pl-2.pr-3.border-left.border-primary.h-100.d-flex
          //- span.h1.text-primary “
          i.fa.fa-quote-left.text-primary.mr-2
          | Ubicación perfecta; en pleno centro de Murcia! Y un servicio excepcional.
          .p-1.mb-auto
        .blockquote-footer.text-right.text-primary.mt-2
          cite Raquel Gcia
    .text-center(data-showup)
      p.mt-4 Puede ver y escribir más reseñas:
      p
        a.btn.btn-primary.m-2(title='Reseñas en Google' href='https://g.page/clinicalopezdelamo/review' target='_blank')
          i.fa.fa-star
          |  Google
        |  
        a.btn.btn-secondary.m-2(title='Reseña en Facebook' href='https://www.facebook.com/pg/clinicalopezdelamo/reviews/' target='_blank')
          i.fa.fa-star
          |  Facebook