section#servicios.bg-info
  .container
    h2.h1(data-showup) Servicios
    p(data-showup)
      | Son muchas y muy variadas las razones que nos pueden llevar a querer visitar a un podólogo y una buena 
      strong clínica de podología
      |  debe ser capaz de dar una respuesta a todas ellas. Con nosotros podrás tratar los siguientes aspectos relacionados con el pie:
    .text-center(data-showup)
      .badge.badge-light Pulsa para desplegar información
    .row.justify-content-center.my-4.text-center
      .col-6.col-sm-4.my-3(data-showup)
        a.btn.btn-primary.btn-img.mx-auto.d-flex.align-items-center.justify-content-center(data-toggle='modal' href='#quiropodologia')
          img.img-fluid(data-src='/wp-content/uploads/quiropodologia.png' alt='Icono Quiropodología' width='90' height='90' data-srcset='/wp-content/uploads/quiropodologia.png 200w, /wp-content/uploads/quiropodologia-60x60.png 60w' data-sizes='(max-width: 120px) 100vw, 120px')
        p.h5.mt-3.text-break.text-primary Quiropodología
      .col-6.col-sm-4.my-3(data-showup)
        a.btn.btn-primary.btn-img.mx-auto.d-flex.align-items-center.justify-content-center(data-toggle='modal' href='#estudio-biomecanico')
          img.img-fluid(data-src='/wp-content/uploads/estudio-biomecanico.png' alt='Icono Estudio Biomecánico' width='90' height='90' data-srcset='/wp-content/uploads/estudio-biomecanico.png 200w, /wp-content/uploads/estudio-biomecanico-60x60.png 60w' data-sizes='(max-width: 120px) 100vw, 120px')
        p.h5.mt-3.text-break.text-primary Estudio Biomecánico
      .col-6.col-sm-4.my-3(data-showup)
        a.btn.btn-primary.btn-img.mx-auto.d-flex.align-items-center.justify-content-center(data-toggle='modal' href='#podologia-deportiva')
          img.img-fluid(data-src='/wp-content/uploads/podologia-deportiva.png' alt='Icono Podología Deportiva' width='90' height='90' data-srcset='/wp-content/uploads/podologia-deportiva.png 200w, /wp-content/uploads/podologia-deportiva-60x60.png 60w' data-sizes='(max-width: 120px) 100vw, 120px')
        p.h5.mt-3.text-break.text-primary Podología Deportiva
      .col-6.col-sm-4.my-3(data-showup)
        a.btn.btn-primary.btn-img.mx-auto.d-flex.align-items-center.justify-content-center(data-toggle='modal' href='#soportes-plantares')
          img.img-fluid(data-src='/wp-content/uploads/soportes-plantares.png' alt='Icono Soportes Plantares' width='90' height='90' data-srcset='/wp-content/uploads/soportes-plantares.png 200w, /wp-content/uploads/soportes-plantares-60x60.png 60w' data-sizes='(max-width: 120px) 100vw, 120px')
        p.h5.mt-3.text-break.text-primary Soportes Plantares
      .col-6.col-sm-4.my-3(data-showup)
        a.btn.btn-primary.btn-img.mx-auto.d-flex.align-items-center.justify-content-center(data-toggle='modal' href='#ecografia')
          img.img-fluid(data-src='/wp-content/uploads/ecografia.svg' alt='Icono Ecografía' width='90' height='90')
        p.h5.mt-3.text-break.text-primary Ecografía
      .col-6.col-sm-4.my-3(data-showup)
        a.btn.btn-primary.btn-img.mx-auto.d-flex.align-items-center.justify-content-center(data-toggle='modal' href='#podologia-infantil')
          img.img-fluid(data-src='/wp-content/uploads/podologia-infantil.png' alt='Icono Podología Infantil' width='90' height='90' data-srcset='/wp-content/uploads/podologia-infantil.png 199w, /wp-content/uploads/podologia-infantil-60x60.png 60w' data-sizes='(max-width: 120px) 100vw, 120px')
        p.h5.mt-3.text-break.text-primary Podología Infantil
      .col-6.col-sm-4.my-3(data-showup)
        a.btn.btn-primary.btn-img.mx-auto.d-flex.align-items-center.justify-content-center(data-toggle='modal' href='#cirugia-podologica')
          img.img-fluid(data-src='/wp-content/uploads/cirugia-podologica.png' alt='Icono Cirugía Podológica' width='90' height='90' data-srcset='/wp-content/uploads/cirugia-podologica.png 200w, /wp-content/uploads/cirugia-podologica-60x60.png 60w' data-sizes='(max-width: 120px) 100vw, 120px')
        p.h5.mt-3.text-break.text-primary Cirugía Podológica
      .col-6.col-sm-4.my-3(data-showup)
        a.btn.btn-primary.btn-img.mx-auto.d-flex.align-items-center.justify-content-center(data-toggle='modal' href='#dermatologia-podologica')
          img.img-fluid(data-src='/wp-content/uploads/dermatologia-podologica.png' alt='Icono Dermatología Podológica' width='90' height='90' data-srcset='/wp-content/uploads/dermatologia-podologica.png 200w, /wp-content/uploads/dermatologia-podologica-60x60.png 60w' data-sizes='(max-width: 120px) 100vw, 120px')
        p.h5.mt-3.text-break.text-primary Dermatología Podológica
      .col-6.col-sm-4.my-3(data-showup)
        a.btn.btn-primary.btn-img.mx-auto.d-flex.align-items-center.justify-content-center(data-toggle='modal' href='#pie-diabetico')
          img.img-fluid(data-src='/wp-content/uploads/pie-diabetico.png' alt='Icono Pie Diabético' width='90' height='90' data-srcset='/wp-content/uploads/pie-diabetico.png 199w, /wp-content/uploads/pie-diabetico-60x60.png 60w' data-sizes='(max-width: 120px) 100vw, 120px')
        p.h5.mt-3.text-break.text-primary Pie Diabético
    .modals.text-muted
      .modal.fade#quiropodologia(tabindex='-1' role='dialog' aria-hidden='true')
        .modal-dialog
          .modal-content
            .modal-body
              button.close(type='button' data-dismiss='modal' aria-label='Cerrar') ✖
              h3.h2.mr-5 Quiropodología
              p Mediante esta rama de la podología damos solución a múltiples problemas del pie como pueden ser los siguientes:
              ul
                li Hongos.
                li Uñas encarnadas.
                li Callos.
                li Ojo de pollo.
                li Durezas.
              p Somos muchos los que, alguna vez, hemos experimentado la incomodidad o incluso el dolor de alguna de estas afecciones, así como sus antiestéticos efectos. Es muy importante detectar a tiempo cualquier posible infección o patología del pie, pero también resulta de vital importancia acudir al servicio de podología que garantice profesionalidad. Con nuestros servicios de quiropodología tratamos todos estos problemas de forma rápida y eficaz.
              .text-center.mb-3
                .badge.badge-light Pulsa para desplegar información
              .acordion#quiropodologia-sub.border.rounded.overflow-hidden.mb-3
                .card-header#durezas
                  h4.mb-0
                    button.btn.btn-primary.w-100(type='button' data-toggle='collapse' data-target='#durezas-body' aria-expanded='true' aria-controls='durezas-body') Durezas o Hiperqueratosis
                .collapse#durezas-body(aria-labelledby='durezas' data-parent='#quiropodologia-sub')
                  .card-body
                    p Son engrosamientos de la capa más superficial de la piel del pie a causa de un aumento de células muertas. Suelen ser asintomáticas con un color amarillento (por el cúmulo de queratina), generalmente no provocan dolor o molestia. Aparecen como mecanismo de protección de la piel del pie ante la presión o roce continuado y son causados por la presión o fricción intermitentes.
                    p Este tipo de lesiones las podemos encontrar tanto en el antepié, es decir, en la parte delantera del pie y también en los talones.
                    img.img-fluid.img-thumbnail.d-block.mx-auto.mb-3(data-src='/wp-content/uploads/durezas.jpg' alt='durezas' width='330' height='217' data-srcset='/wp-content/uploads/durezas.jpg 330w, /wp-content/uploads/durezas-300x197.jpg 300w' data-sizes='(max-width: 330px) 100vw, 330px')
                    p Cuando esta lesión crece hacia capas más profundas de la piel y tiene los bordes más definidos recibe el nombre de heloma duro o también conocido como callo.
                    img.img-fluid.img-thumbnail.d-block.mx-auto.mb-3(data-src='/wp-content/uploads/hiperqueratosis.jpg' alt='hiperqueratosis' width='517' height='227' data-srcset='/wp-content/uploads/hiperqueratosis.jpg 517w, /wp-content/uploads/hiperqueratosis-300x132.jpg 300w' data-sizes='(max-width: 517px) 100vw, 517px')
                    h5 ¿Cómo se trata esta lesión?
                    p El podólogo, es el especialista del pie que realizará el tratamiento más adecuado según cada caso. La QUIROPODIA, Es el tratamiento podológico más frecuente para solucionar las durezas. A través de la deslaminación se podrá eliminar la acumulación de células muertas en la piel. Aunque mucha gente piense lo contrario, el tratamiento para la eliminación de las durezas es indoloro para el paciente.
                    p En caso de tener hiperqueratosis o callos de manera frecuente, es aconsejable que el podólogo realice un estudio de la pisada, en busca del origen o causa que lo provoca y poniendo tratamiento mediante la plantillas a medida que permitan una distribución adecuada de las presiones y evitando la aparición del callo o hiperqueratosis.
                .card-header#una-encarnada
                  h4.mb-0
                    button.btn.btn-primary.w-100(type='button' data-toggle='collapse' data-target='#una-encarnada-body' aria-expanded='true' aria-controls='una-encarnada-body') Uña Encarnada
                .collapse#una-encarnada-body(aria-labelledby='una-encarnada' data-parent='#quiropodologia-sub')
                  .card-body
                    p La inflamación y el dolor que aparecen cuando una uña se clava puede complicarse si no se acude a un profesional desde el inicio de los síntomas. Es más, minimizar los riesgos puede provocar que haya afectación, incluso, del hueso, por lo que recomendamos acudir al podólogo, el cual, le podrá solución a la molestia sin dolor.
                    p La onicocriptosis sucede cuando un borde de la uña se clava bajo la piel del dedo, coloquialmente se conoce como uña encarnada y se puede producir por múltiples causas como llevar las uñas mal cortadas o un calzado muy ajustado, entre otras.
                    p Cuando el paciente percibe el dolor en el dedo, propio de la uña encarnada, la tendencia habitual es intentar cortar la esquina con una tijera, pero por regla general el borde de la uña clavada está demasiado profunda como para poder acceder a él y el corte que se realiza es tan sólo superficial. Además, la dificultad de adquirir una posición adecuada y el excesivo grosor de las uñas pueden complicar aún mas el realizar un corte adecuado de la uña.
                    img.img-fluid.img-thumbnail.d-block.mx-auto.mb-3(data-src='/wp-content/uploads/una-encarnada.jpg' alt='uña-encarnada' width='354' height='231' data-srcset='/wp-content/uploads/una-encarnada.jpg 354w, /wp-content/uploads/una-encarnada-300x196.jpg 300w' data-sizes='(max-width: 354px) 100vw, 354px')
                    p Si la uña encarnada llega a causar herida es fácil que se produzca una infección provocando un absceso (inflamación de los tejidos con acumulación de pus). Si la uña se deja sin tratamiento, el proceso infeccioso acabará causando un granuloma, que es un tipo especial de inflamación que se encuentra muy vascularizada, y que es exudativa y extremadamente dolorosa.
                    p El tratamiento de la Onicocriptosis dependerá de la fase en que se encuentre. El tratamiento inicial será conservador, realizando corte recto de uña y eliminando la espícula que provoca el dolor. Si existe infección se deberá pautar antibiótico para controlar la infección y proceder al tratamiento que se considere.
                    p Si ya se ha instaurado la uña encarnada o se clava la uña con mucha frecuencia e imposibilita o limita la práctica deportiva, el tratamiento definitivo será quirúrgico mediante cirugía podológica.
                    h5 ¿Cómo es la cirugía de la uña encarnada?
                    p En el tratamiento definitivo, existen diferentes técnicas quirúrgicas dependiendo de la morfología de la uña y sus tejidos circundantes. A la hora de elegir la técnica quirúrgica también habrá que tener en cuenta si es un niño o un adulto y si se puede permitir o no la baja laboral. De forma general se realiza lo que se denomina una matricectomia parcial, es decir quitar una lámina de la uña y lo que corresponde a su matriz para que no vuelva a salir, dejando la uña un poquito más estrecha pero imperceptible para el paciente. Los resultados estéticos y funcionales son muy satisfactorios.
                    img.img-fluid.img-thumbnail.d-block.mx-auto.mb-3(data-src='/wp-content/uploads/cirugia-una-encarnada.jpg' alt='cirugia-uña-encarnada' width='368' height='293' data-srcset='/wp-content/uploads/cirugia-una-encarnada.jpg 368w, /wp-content/uploads/cirugia-una-encarnada-300x239.jpg 300w' data-sizes='(max-width: 368px) 100vw, 368px')
                    p Es un procedimiento muy sencillo, que se realiza con anestesia local en el dedo y en la propia consulta sin necesidad de ingresar en el hospital. El tiempo de la cirugía es muy corto, aproximadamente 15-20 minutos, el paciente se va caminando y en 3-4 semanas el dedo está totalmente curado.
                .card-header#ampollas
                  h4.mb-0
                    button.btn.btn-primary.w-100(type='button' data-toggle='collapse' data-target='#ampollas-body' aria-expanded='true' aria-controls='ampollas-body') Ampollas
                .collapse#ampollas-body(aria-labelledby='ampollas' data-parent='#quiropodologia-sub')
                  .card-body
                    p La ampolla se genera tras mantenerse esa presión y fricción en el pie durante un tiempo. Por este motivo, aparecen de forma más habitual en carreras de larga distancia, pero también pueden generarse en tramos cortos por el uso de un calzado que comprima de manera excesiva algunas zonas del pie.
                    p Antes o después de cualquier evento deportivo es aconsejable ponerte en manos de tu podólogo para un examen en profundidad tanto de la biomecánica y estudio de la pisada como una revisión de los pies en busca de hiperqueratosis o durezas que puedan poner en peligro nuestros pies. Así como que nuestro podólogo nos aconseje sobre como prevenir dichas lesiones tanto en el día a día como en la realización de deporte como puede ser el running.
                    img.img-fluid.img-thumbnail.d-block.mx-auto.mb-3(data-src='/wp-content/uploads/ampollas.jpg' alt='ampollas' width='323' height='212' data-srcset='/wp-content/uploads/ampollas.jpg 323w, /wp-content/uploads/ampollas-300x197.jpg 300w' data-sizes='(max-width: 323px) 100vw, 323px')
                .card-header#cuerpo-extrano
                  h4.mb-0
                    button.btn.btn-primary.w-100(type='button' data-toggle='collapse' data-target='#cuerpo-extrano-body' aria-expanded='true' aria-controls='cuerpo-extrano-body') Cuerpo Extraño
                .collapse#cuerpo-extrano-body(aria-labelledby='cuerpo-extrano' data-parent='#quiropodologia-sub')
                  .card-body
                    p Un cuerpo extraño en la piel es cualquier objeto que se mete dentro de ella. Por ejemplo, una astilla, una espina, una púa de erizo o un anzuelo. Los síntomas mas frecuentes son enrojecimiento, hinchazón, dolor o fiebre. En estos casos hay que diferenciar este tipo de lesiones de hiperqueratosis, callos o verrugas plantares, Por ello, es importante acudir a un especialista del pie como es el podólogo que permitirá realizar un buen diagnóstico y tratamiento.
                    img.img-fluid.img-thumbnail.d-block.mx-auto.mb-3(data-src='/wp-content/uploads/cuerpo-extrano.jpg' alt='cuerpo-extrano' width='322' height='214' data-srcset='/wp-content/uploads/cuerpo-extrano.jpg 322w, /wp-content/uploads/cuerpo-extrano-300x199.jpg 300w' data-sizes='(max-width: 322px) 100vw, 322px')
              p.m-0.text-right
                button.btn.btn-secondary(data-dismiss='modal' type='button') ✖ Cerrar
      .modal.fade#estudio-biomecanico(tabindex='-1' role='dialog' aria-hidden='true')
        .modal-dialog
          .modal-content
            .modal-body
              button.close(type='button' data-dismiss='modal' aria-label='Cerrar') ✖
              h3.h2.mr-5 Estudio Biomecánico
              p Conocer cómo son nuestros pies y saber el tipo de pisada que tenemos nos proporcionará ayuda para aliviar ciertos dolores del pie, diagnosticar correctamente la causa de dolencias en otras partes del cuerpo y también nos permitirá escoger el calzado y las plantillas que más nos benefician. En nuestra clínica podológica nuestros estudios biomecánicos del pie abarcan los siguientes campos:
              ul
                li Pies planos.
                li Pies cavos.
                li Análisis de la pisada.
                li Estudio de la pisada.
                li Biomecánica.
                li Patomecánica.
                li Marcha normal y anormal del pie.
                li Factor biomecánico.
              h4 Plataforma de Presión
              img.img-fluid.img-thumbnail.d-block.mx-auto.mb-3(data-src='/wp-content/uploads/carrusel-clinica-lopez-del-amo-trabajando-podologia-analisis-pisada-3.jpg' alt='analisis-pisada' title='Análisis de la Pisada' width='1024' height='546' data-srcset='/wp-content/uploads/carrusel-clinica-lopez-del-amo-trabajando-podologia-analisis-pisada-3.jpg 1024w, /wp-content/uploads/carrusel-clinica-lopez-del-amo-trabajando-podologia-analisis-pisada-3-300x160.jpg 300w, /wp-content/uploads/carrusel-clinica-lopez-del-amo-trabajando-podologia-analisis-pisada-3-768x410.jpg 768w' data-sizes='(max-width: 1024px) 100vw, 1024px')
              p Mediante plataforma de presión realizamos una exploración exhaustiva de los patrones de la marcha y estudio informatizado. Esta plataforma realiza una medición exacta de cada uno de los puntos máximos de presión, cosa que no permite hacer otros sistemas tradicionales. Este sistema permite ver disimetrías, centro de gravedad y obtiene un mapa de presiones que nos facilita el diagnóstico de la patología y la precisión de los tratamientos. Además permite realizar un estudio dinámico de la marcha que nos permite ver el apoyo del pie en cada uno de sus pasos secuencialmente pudiendo hacer una valoración y comprobación posterior de los resultados en el tratamiento aplicado.
              p No dudes en solicitar uno de nuestros estudios biomecánicos de la pisada y descubre toda la información útil que éstos te pueden proporcionar.
              h4 Sensores Inerciales
              img.img-fluid.img-thumbnail.d-block.mx-auto.mb-3(data-src='/wp-content/uploads/sensores-inerciales.jpg' alt='sensores-inerciales' width='176' height='193')
              p En clínica López del Amo, nuestro podólogo, experto en análisis de la marcha y carrera con estudio biomecánico de la pisada para corredores, running o cualquier atleta que lo desee, trabaja con la última tecnología para una mayor precisión en su diagnótico y tratamiento. Los sensores inerciales (runScribe) tienen la capacidad de recopilar datos de calidad de investigación en entornos del mundo real fuera de la clínica. Consiste en un acelerómetro tridimensional, un giroscopio tridimensional y un magnetómetro tridimensional con un microprocesador integrado.
              .img-thumbnail.mb-3
                .embed-responsive.embed-responsive-16by9.rounded-sm
                  iframe.embed-responsive-item(width='100%' height='257' data-src='https://www.youtube.com/embed/LRLGUWrA3Ag' allowfullscreen)
              p: a.btn.btn-primary(href='https://www.youtube.com/watch?v=LRLGUWrA3Ag' target='_blank') Ver en Youtube
              p.m-0.text-right
                button.btn.btn-secondary(data-dismiss='modal' type='button') ✖ Cerrar
      .modal.fade#podologia-deportiva(tabindex='-1' role='dialog' aria-hidden='true')
        .modal-dialog
          .modal-content
            .modal-body
              button.close(type='button' data-dismiss='modal' aria-label='Cerrar') ✖
              h3.h2.mr-5 Podología Deportiva
              p Al igual que se hace un reconocimiento médico antes de reiniciar cualquier actividad deportiva, también se debe hacer un estudio biomecánico del comportamiento del pie en estática y dinámica.
              p Nuestra exploración biomecánica se basa en la realización de una historia clínica rigurosa y una serie de maniobras exploratorias de la movilidad de las diferentes articulaciones en reposo y en movimiento, ayudado de la última tecnología, nos darán como resultado un diagnostico podológico y la necesidad o no de instaurar un tratamiento ortopodológico.
              p También asesoramos al deportista en cuanto al calzado óptimo y la necesidad o no de usar soportes plantares, con el fin de aminorar la incidencia de las lesiones y optimizar el rendimiento deportivo.
              p Este tipo de servicios resulta de especial interés para los corredores, pues el tipo de pisada que se tenga al correr determinará si se necesitan unas plantillas para pronador, unas plantillas de supinador, si es aconsejable usar calzado minimalista, si se puede realizar barefoot running, etc. Nuestros servicios en podología deportiva comprenden los siguientes análisis y situaciones:
              ul
                li Análisis de carrera.
                li Técnica de carrera.
                li Análisis deportivo.
                li Análisis del gesto deportivo.
                li Pronador.
                li Supinador.
                li Pisada neutra.
                li Barefoot.
                li Zapatillas minimalistas.
              p Cualquier deportista, especialmente los corredores, que sienta molestias al correr, que no se sienta cómodo con su calzado, que quiera mejorar su técnica de carrera o que simplemente quiera optimizar su rendimiento a través de un mayor conocimiento de sus condiciones a la hora de correr, obtendrá un gran beneficio con la podología deportiva.
              p.m-0.text-right
                button.btn.btn-secondary(data-dismiss='modal' type='button') ✖ Cerrar
      .modal.fade#soportes-plantares(tabindex='-1' role='dialog' aria-hidden='true')
        .modal-dialog
          .modal-content
            .modal-body
              button.close(type='button' data-dismiss='modal' aria-label='Cerrar') ✖
              h3.h2.mr-5 Soportes Plantares
              p Una vez se ha realizado el estudio biomecánico y se ha estudiado la pisada, el problema puede ser tratado. Para ello, recurrimos a herramientas y tratamientos como los siguientes:
              ul
                li Plantillas personalizadas.
                li Ortesis.
                li Plantillas a medida.
                li Tratamiento ortopodológico.
                li Tratamiento biomecánico.
              p Como se puede ver, huimos de los tratamientos genéricos y apostamos por un un enfoque personalizado y a medida.
              img.img-fluid.img-thumbnail.d-block.mx-auto.mb-3(data-src='/wp-content/uploads/soportes-plantares-plantillas.jpg' alt='soportes-plantares-plantillas' width='539' height='237' data-srcset='/wp-content/uploads/soportes-plantares-plantillas.jpg 539w, /wp-content/uploads/soportes-plantares-plantillas-300x132.jpg 300w' data-sizes='(max-width: 539px) 100vw, 539px')
              p.m-0.text-right
                button.btn.btn-secondary(data-dismiss='modal' type='button') ✖ Cerrar
      .modal.fade#ecografia(tabindex='-1' role='dialog' aria-hidden='true')
        .modal-dialog
          .modal-content
            .modal-body
              button.close(type='button' data-dismiss='modal' aria-label='Cerrar') ✖
              h3.h2.mr-5 Ecografía
              p Diagnóstico y tratamiento mediante ecografía.
              p En clínica del pie López del Amo, nuestro podólogo, trabaja con la última tecnología para una mayor precisión en su diagnóstico y tratamiento.
              p La ecografía en podología puede considerarse una modalidad de imagen útil y una técnica fundamental para garantizar el éxito en el diagnóstico y tratamiento de las afecciones del pie. Tiene una alta aceptación por parte de los pacientes debido a su naturaleza no invasiva.
              p Intervenciones ecoguiadas nos permiten llegar al punto exacto de la lesión con una precisión milimétrca. Este tipo de técnicas son imprescindible en las infiltraciones en las articulaciones de tobillo y pie para no dañas las articulaciones sanas y así una mayor recuperación. Un caso muy frecuente es la fascitis plantar, una lesión habitual que puede convertirse en crónica si no es diagnosticada y tratada de forma eficaz y rápida. A contuniación podemos verla imagen de una fascia normal y una fascitis plantar
              p Diagnóstico y tratamiento por medio de ecografía de una fascia plantar normal.
              img.img-fluid.img-thumbnail.d-block.mx-auto.mb-3(data-src='/wp-content/uploads/ecografia-1.jpg' alt='Diagnóstico y tratamiento mediante ecografía 1' width='885' height='664' data-srcset='/wp-content/uploads/ecografia-1.jpg 885w, /wp-content/uploads/ecografia-1-300x225.jpg 300w, /wp-content/uploads/ecografia-1-768x576.jpg 768w' data-sizes='(max-width: 885px) 100vw, 885px')
              p Diagnóstico y tratamiento por medio de ecografía de una fascitis plantar.
              img.img-fluid.img-thumbnail.d-block.mx-auto.mb-3(data-src='/wp-content/uploads/ecografia-2.jpg' alt='Diagnóstico y tratamiento mediante ecografía 2' width='885' height='664' data-srcset='/wp-content/uploads/ecografia-2.jpg 885w, /wp-content/uploads/ecografia-2-300x225.jpg 300w, /wp-content/uploads/ecografia-2-768x576.jpg 768w' data-sizes='(max-width: 885px) 100vw, 885px')
              p.m-0.text-right
                button.btn.btn-secondary(data-dismiss='modal' type='button') ✖ Cerrar
      .modal.fade#podologia-infantil(tabindex='-1' role='dialog' aria-hidden='true')
        .modal-dialog
          .modal-content
            .modal-body
              button.close(type='button' data-dismiss='modal' aria-label='Cerrar') ✖
              h3.h2.mr-5 Podología Infantil
              p En nuestra clínica podológica nos encargamos del diagnostico de las deformidades del pie infantil con el objetivo de prevenir futuras lesiones, no solo en el pie, sino en otras áreas del cuerpo como pueden ser la columna, la cadera y las rodillas.
              p Por ello hay que realizar un estudio riguroso para detectar esas patologías del pie y favorecer un buen desarrollo de los más pequeños.
              ul
                li Estudio de la pisada en niños.
                li Pie plano infantil (poco puente).
                li Pies cavos (mucho puente).
                li Marcha en aducción (caminar con puntas de los pies hacia dentro).
                li Pies valgos (tobillos hacia dentro).
                li Pies varos (tobillos hacia afuera).
                li Genu valgo (rodillas en X).
                li Genu varo (rodillas en paréntesis).
                li Corrección de la marcha.
              p El correcto tratamiento podológico en edades tempranas puede evitar problemas mayores en la etapa adulta.
              p.m-0.text-right
                button.btn.btn-secondary(data-dismiss='modal' type='button') ✖ Cerrar
      .modal.fade#cirugia-podologica(tabindex='-1' role='dialog' aria-hidden='true')
        .modal-dialog
          .modal-content
            .modal-body
              button.close(type='button' data-dismiss='modal' aria-label='Cerrar') ✖
              h3.h2.mr-5 Cirugía Podológica
              p En ocasiones nos encontramos con alteraciones en los pies que precisan de una intervención quirúrgica. En la clínica López del Amo somos especialistas en este campo y nos renovamos y actualizamos constantemente para conseguir que nuestros procedimientos sean lo más eficaces posibles.
              p Puede ver ejemplos en el apartado de 'uña encarnada' en 'quiropodología'.
              p.m-0.text-right
                button.btn.btn-secondary(data-dismiss='modal' type='button') ✖ Cerrar
      .modal.fade#dermatologia-podologica(tabindex='-1' role='dialog' aria-hidden='true')
        .modal-dialog
          .modal-content
            .modal-body
              button.close(type='button' data-dismiss='modal' aria-label='Cerrar') ✖
              h3.h2.mr-5 Dermatología Podológica
              p Los pies, por la fricción a la que se ven sometidos, por la presión que soportan, por la falta de ventilación que en ocasiones sufren, por la humedad y por otros muchos factores, pueden presentar afecciones dermatológicas específicas que, en nuestra clínica, tratamos en su totalidad:
              ul
                li Verrugas plantares (papiloma).
                li Quistes.
                li Onicomicosis (uñas con hongos).
                li Pie de atleta (hongos en la piel).
                li Hiperhidrosis (exceso de sudoración).
                li Xerosis (pies secos).
              h4 Verruga Plantar o Papiloma
              p Una verruga plantar o un papiloma es una lesión tumoral de origen benigno muy frecuente, transmisible y es causada por el virus del papiloma humano (VPH). Las verrugas pueden desarrollarse en cualquier parte del pie, pero normalmente aparecen en la parte inferior del pie (planta).
              p Causas:
              ul
                li Son más frecuentes en niños y jóvenes
                li Personas con sistema inmune débil
                li Haber tenido una verruga plantar previa
                li Caminar descalzo por zonas de piscinas o duchas
              p Es muy común confundirlas con durezas o callos, sobretodo cuando aparecen en zonas de apoyo. Pero se distinguen fácilmente por sus características. Las verrugas tienen una amplia variedad de formas y tamaños. Una verruga podría ser un bulto con una superficie áspera, o podría ser plana y lisa. En el centro de la verruga crecen pequeños vasos sanguíneos para suministrarle sangre. Tanto en las verrugas comunes como en las verrugas plantares, es posible que estos vasos sanguíneos tengan aspecto de puntos oscuros en el centro de la verruga.
              img.img-fluid.img-thumbnail.d-block.mx-auto.mb-3(data-src='/wp-content/uploads/verruga-plantar-papiloma.jpg' alt width='314' height='207' data-srcset='/wp-content/uploads/verruga-plantar-papiloma.jpg 314w, /wp-content/uploads/verruga-plantar-papiloma-300x198.jpg 300w' data-sizes='(max-width: 314px) 100vw, 314px')
              p Para diagnosticar una verruga plantar, el podólogo examina el pie del paciente y busca signos y síntomas de una verruga plantar, tras confirmar el diagnóstico el podólogo decidirá que tratamiento es el más adecuado para este así como consejos para una buena prevención.
              p.m-0.text-right
                button.btn.btn-secondary(data-dismiss='modal' type='button') ✖ Cerrar
      .modal.fade#pie-diabetico(tabindex='-1' role='dialog' aria-hidden='true')
        .modal-dialog
          .modal-content
            .modal-body
              button.close(type='button' data-dismiss='modal' aria-label='Cerrar') ✖
              h3.h2.mr-5 Pie Diabético
              p Cuando se padece diabetes y ésta no ha recibido el tratamiento adecuado, puede desarrollarse el pie diabético. Los niveles de azúcar excesivamente altos en la sangre pueden acabar desembocando en pérdida de sensibilidad y mala circulación, lo que a su vez puede tener como consecuencia la aparición de graves úlceras en los pies. Si padece diabetes, debería controlar el estado de salud de sus pies con más frecuencia.
              p En nuestra clínica contamos con una gran experiencia en el tratamiento del pie diabético.
              p.m-0.text-right
                button.btn.btn-secondary(data-dismiss='modal' type='button') ✖ Cerrar