ul.list-group
  li.list-group-item
    i.fa.fa-fw.text-secondary.mr-1.fa-check
    |  Diplomado en Podología.
  li.list-group-item
    i.fa.fa-fw.text-secondary.mr-1.fa-check
    |  Diplomado en Fisioterapia.
  li.list-group-item
    i.fa.fa-fw.text-secondary.mr-1.fa-check
    |  Doctor Cum Laude por la Universidad de Murcia.
  li.list-group-item
    i.fa.fa-fw.text-secondary.mr-1.fa-check
    |  Máster universitario de Patomecánica del Pie y sus Tratamientos Ortopodológicos.
  li.list-group-item
    i.fa.fa-fw.text-secondary.mr-1.fa-check
    |  Máster Universitario en Biomecánica y Ortopodología.
  li.list-group-item
    i.fa.fa-fw.text-secondary.mr-1.fa-check
    |  <a href='http://personas.ucam.edu/personas/perfil/andres-lopez-del-amo-lorente' target='_blank' title='Profesor de Fisioterapia de la Universidad Católica de San Antonio de Murcia (UCAM)'>Profesor de Fisioterapia de la Universidad Católica de San Antonio de Murcia (UCAM)</a>.
  li.list-group-item
    i.fa.fa-fw.text-secondary.mr-1.fa-check
    |  <a href='http://www.murcia.com/noticias/2016/08/03-manuel-pardo-vicedecano-del-grado-en-podologia-de-la-ucam.asp' target='_blank' title='Grado en Podología de la UCAM'>Secretario académico del Grado de Podología en la UCAM</a>.
  li.list-group-item
    i.fa.fa-fw.text-secondary.mr-1.fa-check
    |  Ponente en congresos nacionales e internacionales
    br
    |(ejemplos: <a class="bg-info rounded px-1" href='http://congresopodologia.umh.es/files/2013/11/MISCEL%C3%81NEA.pdf' target='_blank' title='Ponente Andrés López del Amo Lorente'>1</a> · <a class="bg-info rounded px-1" href='http://copoga.com/wp-content/uploads/2018/10/curso-valoraci%C3%B3n-deportista.pdf' target='_blank'>2</a> · <a class="bg-info rounded px-1" href='http://www.semcpt.es/formacion/cursos/proximos/482-ii-jornadas-cirugia-pie-tobillo-murcia' target='_blank'>3</a>).
  li.list-group-item
    i.fa.fa-fw.text-secondary.mr-1.fa-check
    |  Ponente de cursos de formación continuada.
  li.list-group-item
    i.fa.fa-fw.text-secondary.mr-1.fa-check
    |  <a href='http://investigacion.ucam.edu/grupos/avances-en-biomecanica-deportiva-y-ortopodologia/es/composicion' target='_blank'>Grupo de investigación ABIDOR</a>.
  li.list-group-item
    i.fa.fa-fw.text-secondary.mr-1.fa-check
    |  Asesor de <a href='https://www.streetprorunning.com/' target='_blank'>streetprorunning.com</a>.
  li.list-group-item
    i.fa.fa-fw.text-secondary.mr-1.fa-check
    |  <a href='https://www.ucam.edu/estudios/postgrados/podologia-deportiva/profesorado' target='_blank'>Director del Máster Universitario en Podología Clínica y Deportiva de la UCAM</a>.