---
layout: default
title: '▷ Más Podología'
description: Publicaciones sobre ciencia podológica y la unión de las distintas especialidades que analizan y tratan el aparato locomotor como una unidad.
sitemap: true
---

<!-- Posts Index
================================================== -->
<div class="blog-grid-container">
    {% for post in paginator.posts %}
        {% include postbox.html %}
    {% endfor %}
</div>

<!-- Pagination
================================================== -->
<div class="bottompagination">
    <span class="navigation" role="navigation">
        {% include pagination.html %}
    </span>
</div>
